<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wears your love</title>
    <script src="static/api.js" defer></script>
    <script src="static/terminal.js" defer></script>
    <script src="static/themes.js" defer></script>
    <script src="static/animations.js" defer></script>
    <link rel="stylesheet" href="node_modules/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body class="theme-dark">
    <div id="terminal" class="terminal-box">
        <div id="output"></div>
        <input type="text" id="command-input" autofocus>
<div class="pa4 bg-dark-gray white br3">
    Welcome to wears your love!
</div>

        
    </div>
</body>
</html>
